!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="http://use.typekit.com/emk1fes.js")
    script
      try{Typekit.load();}catch(e){}
  body!= body
    h1= title


    #controls
      #controls-inner
        h2 Controls
        form(method="get")
          label(for="year") Filter by year
            input(type="text", name="year", id="year", value="#{year}")
          input(type="submit")
